<!-- FLIPSTER CDN -->
<link rel="stylesheet" href="/common/jquery.flipster.min.css">

<!-- FLICKITY CDN -->

<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<!-- CAROUSEL -->
<section id="part1">
    <div class="carouse">
        <div class="carouse_item active">
            <img class="img-1" src="img/class.png" alt="">
            <img src="img/class(1).png" class="img-1sm" alt="">
        </div>
        <div class="carouse_item">
            <img class="img-2" src="img/About.png" alt="">
            <img src="img/About(1).png" alt="" class="img-2sm">
        </div>
        <div class="carouse_item">
            <img class="img-3" src="img/DOUBT SOLVING SESSIONS.png" alt="">
            <img src="img/DOUBT SOLVING SESSIONS(1).png" alt="" class="img-3sm">
        </div>
        <div class="carouse_item">
            <img class="img-4" src="img/our features.png" alt="">
            <img src="img/our feature(1).png" alt="" class="img-4sm">
        </div>
        <div class="carouse_actions">
            <button id="carouse_button_prev" aria-label="Previous Slide">
                < </button>
                    <button id="carouse_button_next" aria-label="Next Slide">
                        > </button>

        </div>
    </div>
</section>





<!-- YOUTUBE -->
<div class="part2_headdiv mt-5 mb-5" style="width: 20%;">
    <h1 class="text-align-center">@Youtube</h1>
</div>


<section id="part4" data-aos="fade-down" data-aos-duration="3000">
    <div class="carousel"
        data-flickity='{ "cellAlign": "center", "contain": true ,"pauseAutoPlayOnHover": true,"autoPlay": 2000,"wrapAround": true,"freeScroll": true,"freeScrollFriction": 0.03}'
        style="margin-top: 5em;" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="100">
        <div class="carousel-cell" style="padding: 0 22px;">
            <a href="https://www.youtube.com/watch?v=t-hp3l0olEs&t=17s">
                <div class="carousel-bt">
                    <i class="fa fa-solid fa-play"></i>
                </div>
                <img src="img/you1.webp" alt="" style="width: 560px;height: 315px;">
            </a>
        </div>
        <div class="carousel-cell" style="padding: 0 22px;">
            <a href="https://www.youtube.com/watch?v=PKateg3OUBg">
                <div class="carousel-bt">
                    <i class="fa fa-solid fa-play"></i>
                </div> <img src="img/you2.webp" alt="" style="width: 560px;height: 315px;">

            </a>
        </div>
        <div class="carousel-cell" style="padding: 0 22px;">
            <a href="https://www.youtube.com/watch?v=3gs7i1jnSXM&t=5s">

                <div class="carousel-bt">
                    <i class="fa fa-solid fa-play"></i>
                </div>
                <img src="img/you3.webp" alt="" style="width: 560px;height: 315px;">
            </a>
        </div>
        <div class="carousel-cell" style="padding: 0 22px;">
            <a href="https://www.youtube.com/watch?v=eD-vdwPNfks">
                <div class="carousel-bt">
                    <i class="fa fa-solid fa-play"></i>
                </div>
                <img src="img/you4.webp" alt="" style="width: 560px;height: 315px;">
            </a>
        </div>
        <div class="carousel-cell" style="padding: 0 22px;">
            <a href="https://www.youtube.com/watch?v=MNRsSZ7Gip8">

                <div class="carousel-bt">
                    <i class="fa fa-solid fa-play"></i>
                </div>
                <img src="img/you5.webp" alt="" style="width: 560px;height: 315px;">
            </a>
        </div>
        <div class="carousel-cell" style="padding: 0 22px;">
            <a href="https://www.youtube.com/watch?v=heqF1THcASA">

                <div class="carousel-bt">
                    <i class="fa fa-solid fa-play"></i>
                </div>
                <img src="img/you6.webp" alt="" style="width: 560px;height: 315px;">

            </a>
        </div>
    </div>
</section>


<div class="part2_headdiv mt-5 mb-5 testi marg" style="width:48%">
    <h1 class="text-align-center">Why we are so special

    </h1>
</div>
<div class="container mar mt-5">
    <div class="advantages mt-5">
        <div class="row mt-3">
            <div class="col-md-6 mb-3">
                <a><img src="img/55.png" class="special-img"></a>
                <div class="fon-fam">
                    <h5><b>Highly Qualified &amp; Experienced Faculty</b></h5>

                    <p>Students excel in their subjects by studying from highly qualified &amp; experienced teachers who
                        are specialised in their respective areas.</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <a><img src="img/56.png" class="special-img"></a>
                <div class="fon-fam">
                    <h5><b>Comprehensive Studies</b></h5>

                    <p>We focus on detailes , basic foundation of students in every subjects.</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 mb-3">
                <a><img src="img/60.png" class="special-img"></a>
                <div class="fon-fam">
                    <h5><b>Free Career Counselling</b></h5>

                    <p>Career counselling sessions from 9th to 12th students are given by experts.</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <a><img src="img/58.png" class="special-img"></a>
                <div class="fon-fam">
                    <h5><b>Well Established Computer Labs</b></h5>

                    <p>Computer classes are taken by IT experts &amp; even practicals are also conducted in our fully
                        equipped computer lab.</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 mb-3">
                <a><img src="img/57.png" class="special-img"></a>
                <div class="fon-fam">
                    <h5><b>Parent-Teacher Meeting</b></h5>

                    <p>For regular update &amp; freview of child's performance, parent-teacher meeting is also
                        organised.</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <a><img src="img/59.png" class="special-img"></a>
                <div class="fon-fam">
                    <h5><b>Online Classes</b></h5>

                    <p>Many Students abroad &amp; also from India study at IQ CLASSES through ONLINE CLASSES by EXPERTS
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- TESTIMONIALS -->
<section id="base" style="margin-top: 46px!important;">


    <div class="part2_headdiv mt-4  testi" style="width:48%">
        <h1 class="text-align-center">What our students
            say?
        </h1>
    </div>
    <div class="view-box mt-5 pt-3">
        <div id="testimonial">
            <div class="user space">
                <img src="img/anuj1.png" alt="">
                <p>Hi,I am Anuj and i have been in IQ Classes for the last two years now and I think my classes 10th
                    went very well eith the support I got from here
                </p>
                <h3>Anuj</h3>
                <h3>K.V,Lucknow</h3>
                <h3>Class IX</h3>
            </div>

            <div class="user space2">
                <img src="img/devrat1.png" alt="">
                <p>Hi,I am Devrat and I thanks Alex Sir for my good marks in computers.The support I got from here
                    was
                    commendable
                </p>
                <h3>Devrat</h3>
                <h3>St. Francis' College,Lucknow</h3>
                <h3>Class XI</h3>
            </div>

            <div class="user space3">
                <img src="img/rafid3.png" alt="">
                <p>I joined IQ Classes in Class XI and since then I felt very eased in my Science,Maths and
                    Computers
                </p>
                <h3>Rafid</h3>
                <h3>City Montessori School,Lucknow</h3>
                <h3>Class XII</h3>
            </div>
            <div class="user space2">
                <img src="img/shrey.jpg" alt="">
                <p>Maths and Computers is super easy with Alex Sir.Aradhana mam has their own tricks to teach
                    Physics
                    and Arvind sir is too good with chemistry</p>
                <h3>Shrey</h3>
                <h3>Millennium School,Lucknow</h3>
                <h3>Class XI</h3>
            </div>
            <div class="user space">
                <img src="img/anshika1.png" alt="">
                <p>Hi,I am Anshika and I thanks IQ Classes for so good teachers and my performance in my board</p>
                <h3>Anshika</h3>
                <h3>Global Indian International School,Singapore</h3>
                <h3>Class XI</h3>
            </div>
        </div>


        <div class="control">
            <span id="control1"></span>
            <span id="control2"></span>
            <span id="control3" class="active1"></span>
            <span id="control4"></span>
            <span id="control5"></span>

        </div>
    </div>
</section>



<!-- JQUERY CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>





<!-- SMTP JS -->
<script src="https://smtpjs.com/v3/smtp.js">
</script>

<!-- FLIPSTER JS CDN -->
<script src="common/jquery.flipster.min.js"></script>

<!-- FLICKITY JS CDN -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- CAROUSEL JS -->
<script>
    let slidePosition = 0
    // let count=0
    let timer;
    let changeval = false
    let intervaltimer
    const slides = $('.carouse_item')
    const totalslides = slides.length

    $('#carouse_button_next').click(() => {
        moveToNextSlide()
        // setTimeout("stopShow()", 1000);
        stopShow()
    })
    $('#carouse_button_prev').click(() => {
        moveToPrevSlide()
        // setTimeout("stopShow()", 1000);
        stopShow()
    }
    )
    $('.carouse').mouseenter(() => {
        stopShow()
    })
    $('.carouse').mouseleave(() => {
        runShow()
    })
    function updateSlidePosition() {
        for (let slide of slides) {
            slide.classList.remove('active')
            slide.classList.add('.carouse-item-hidden')
        }
        slides[slidePosition].classList.add('active')
    }


    function moveToPrevSlide() {
        if (slidePosition === 0)
            slidePosition = totalslides - 1
        // to move the slide from 3 to 0 position
        else {
            slidePosition--
        }
        updateSlidePosition()
    }
    function moveToNextSlide() {
        if (slidePosition === totalslides - 1)
            slidePosition = 0
        // to move the slide from 3 to 0 position
        else {
            slidePosition++
        }
        updateSlidePosition()

    }


    function stopShow() {
        changeval = false;
        clearTimeout(timer)
        clearInterval(intervaltimer)
        change()
    }
    function runShow() {
        intervaltimer = setInterval(() => {
            changeval = true
            // console.log('runtrue');
            change()
        }, 3000);
    }
    function change() {
        if (changeval == true) {

            if (slidePosition == totalslides - 1)
                slidePosition = 0
            else {
                slidePosition++
            }

            updateSlidePosition()
            // timer = setTimeout("change()", 2000);
        }
    }
</script>

<!-- TESTIMONOIAL JS -->
<script>

    var testimonial = document.getElementById('testimonial');
    var control1 = document.getElementById('control1');
    var control2 = document.getElementById('control2');
    var control3 = document.getElementById('control3');
    var control4 = document.getElementById('control4');
    var control5 = document.getElementById('control5');


    control1.onclick = function () {
        testimonial.style.transform = "translateX(1820px)";
        control1.classList.add("active1");
        control2.classList.remove("active1");
        control3.classList.remove("active1");
        control4.classList.remove("active1");
        control5.classList.remove("active1");
    }

    control2.onclick = function () {
        testimonial.style.transform = "translateX(935px)";
        control1.classList.remove("active1");
        control2.classList.add("active1");
        control3.classList.remove("active1");
        control4.classList.remove("active1");
        control5.classList.remove("active1");
    }

    control3.onclick = function () {
        testimonial.style.transform = "translateX(0)";
        control1.classList.remove("active1");
        control2.classList.remove("active1");
        control3.classList.add("active1");
        control4.classList.remove("active1");
        control5.classList.remove("active1");

    }
    control4.onclick = function () {
        testimonial.style.transform = "translateX(-935px)";
        control1.classList.remove("active1");
        control2.classList.remove("active1");
        control3.classList.remove("active1");
        control4.classList.add("active1");
        control5.classList.remove("active1");

    }
    control5.onclick = function () {
        testimonial.style.transform = "translateX(-1820px)";
        control1.classList.remove("active1");
        control2.classList.remove("active1");
        control3.classList.remove("active1");
        control4.classList.remove("active1");
        control5.classList.add("active1");

    }

</script>

<!-- GALLERY -->
<script>
    $('.gall-carousel').flipster({
        style: 'carousel',
        spacing: -0.3,
    }
    );
</script>

<script>
    $('.gal').click(() => {
        stopScroll()
        setTimeout(() => {
            startScroll()
        }, 700);
    })
    $('.con').click(() => {
        stopScroll()
        setTimeout(() => {
            startScroll()
        }, 700);
    })

</script>